/**
  * * Partial: _base.scss
  * ?    Desc: Styles related to base element selectors.
  */

/* Content Containers
   -------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

/**
  * Selector: <body>
  *     Desc: Main content container
  *    Notes: Using this as 960px container, centered. Hide overflow to prevent
  *           any whitespace issues.
  */

body {
  overflow-x      : hidden;
  font-family     : Nunito;
  background-color: $background;
}

/**
  * Selector: <img>
  *     Desc: Targets all img elements.
  *    Notes: 100% max-width to force images to be responsive.
  */ 

img, video {
  max-width: 100%;
}



/**
  * Selector: <button>
  *     Desc: Base styles for all buttons.
  *    Notes: Display flex so we can alight text and arrow icon with flexbox.
  */

button {
  box-shadow      : 0 -5px 5px -5px rgba(0,0,0,0.1);
  display         : flex;
  align-items     : center;
  justify-content : space-between; 
  width           : 100%;
  padding         : remcalc(15px);
  margin-top      : auto;
  background-color: $selection;
  color           : $foreground;
  font-weight     : bold;
  border          : none;
  border-top      : 1px solid $black_80;
  border-bottom   : 3px solid darken($selection, 5%);
  transition      : all 250ms ease;

  /**
  * Selector: <button:hover>
  *     Desc: Hover effects for all <button> elements.
  *    Notes: Transition bg/border color on hover. Also use a 3d transform to   *           give the arrow icons a 'grow' animation effect.
  */
  &:hover {
    cursor             : pointer;
    background-color   : $comment;
    border-bottom-color: darken($comment, 5%);

    .material-icons {
      transform: scale3d(1.2, 1.2, 1.2);
    }
  }
}

/**
  * Selector: <article>
  *     Desc: Container for all page news articles and posts.
  *    Notes: This is the main container for the article cards.
  */

article {
  @extend %flex_col;
  color           : $foreground;
  text-align      : center;
  border          : $border-default;
  background-color: $selection;
  box-shadow      : 0 0 3px 2px rgba(0, 0, 0, .1);

  /**
    * Selector: .stats_bar
    *     Desc: Contains up/down vote and view statistics above each article.
    *    Notes: This class is placed on the h2 of each article.
    */

  .stats_bar {
    @extend %headline-default;
    @extend %flex_sb;
    width        : 100%;
    text-align   : center;
    border-bottom: 1px solid $black_80;
    box-shadow   : 0 0 3px 2px rgba(0, 0, 0, .1);

    .material-icons { margin-right: remcalc(8px); }
  }

  h3 { color: $pink; }

  p {
    text-align   : justify;
    padding      : 0 remcalc(15px);
    margin-bottom: remcalc(32px);
  }
}

/**
  * Selector: <header>
  *     Desc: Container for site landing & navigation.
  *    Notes: Need to adjust spacing and padding for mobile first approach.
  */

header {
  @extend %flex_col_centered;
  padding         : 0 remcalc(25px) remcalc(100px) remcalc(25px);
  margin-bottom   : remcalc(50px);
  border-bottom   : 2px solid $selection;
  color           : $foreground;
  background-color: $selection;
  background-image: url('../img/60-lines.png');
  box-shadow      : inset 0 0 3px 2px rgba(0, 0, 0, .1);

  h1 { text-align: center; }

  img {
    max-width: 33%;
    min-width: 350px;
  }
}

/**
  * Selector: <nav>
  *     Desc: Container for main site navigation.
  *    Notes: Max width is 400px larger than grid.
  */

nav {
  width    : 100%;
  max-width: 1600px;

  ul { @extend %flex_sb; }

  .material-icons {
    font-size  : remcalc(16px);
    margin-left: remcalc(2px);
  }
}

/**
  * Selector: <ul> <li> <li:hover>
  *     Desc: Defines base styles for all unordered lists and list items.
  *    Notes: Transition animates the text color change when a list item is
  *           hovered over.
  */

ul {
  padding: 0;

  li {
    list-style: none;
    padding   : remcalc(8px) remcalc(12px);
    transition: all 150ms ease;

    &:hover {
      cursor: pointer;
      color : $pink;
    }
  }
}

/**
  * Selector: .login-button
  *     Desc: Main login button on the right side of the main navigation.
  *    Notes: Simple outline style with an animated hover to change color/bg.
  */

.login-button {
  border       : 2px solid $foreground;
  border-radius: 20px;
  transition   : all 150ms ease;

  &:hover {
    cursor          : pointer;
    color           : $background;
    background-color: $foreground;
  }
}

/**
  * Selector: #featured_article
  *     Desc: Large featured article on the front page.
  *    Notes: This spans the entire grid on small devices, and from first to
  *           second to last column on larger screens.
  */

#featured_article {
  grid-column: 1 / -1;

  @media screen and (min-width: 908px){
    grid-column-end: -2;
  }

  .lg { color: $yellow; }

  h2  { margin-bottom: 0; }

  p {
    margin: 1rem 0;

    &:last-of-type { margin-bottom: 2rem; }
  }

  video {
    width        : 100%;
    border-bottom: 1px solid $black_80;
    margin-bottom: 15px;
  }
}

/**
  * Selector: <aside>
  *     Desc: Content container for trending/popular/latest sections.
  *    Notes: These are links to various articles on the side place next to the
  *           featured article on the front page. Takes up full width on small
  *           devices, and the last column only on larger devices.
  */

aside {
  grid-column   : 1 / -1;
  grid-row-gap  : 10px;
  grid-row-start: 2;
  margin-bottom : remcalc(15px);

  @media screen and (min-width: 908px) {
    grid-column  : span 1 / -1;
    margin-bottom: 0;
  }
}

/**
  * Selector: .aside-content
  *     Desc: Flex container for the aside items content.
  *    Notes: Styles various aspects of each aside item such as h2 and unordered
  *           lists using a column flex layout.
  */

.aside-content {
  @extend %flex_col;

  h2 {
    @extend %headline-default;
    padding-left: 0;

    .material-icons { margin-right: remcalc(8px); }
  }

  ul {
    margin      : 0;
    padding-left: 0;

    li {
      padding   : 10px 0;
      color     : $foreground;
      transition: color 150ms ease;

      &:hover { color: $pink; }
    }
  }
}