/**
  * * Partial: _base.scss
  * ?    Desc: Styles related to base element selectors.
  */

/* Content Containers
   -------------------------------------------------------------------------- */

/**
  * Selector: <body>
  *     Desc: Main content container
  *    Notes: Using this as 960px container, centered.
  */

* {
  box-sizing: border-box;
}

body {
  font-family: Nunito;
  background-color: $background;
}

img {
  max-width: 100%;
}

button {
  box-shadow: 0 -5px 5px -5px rgba(0,0,0,0.1);
  display         : flex;
  align-items     : center;
  justify-content : space-between; 
  width           : 100%;
  padding         : 15px;
  margin-top      : auto;
  background-color: $selection;
  color           : $foreground;
  font-weight     : bold;
  border          : none;
  border-top: 1px solid $black_80;
  border-bottom   : 3px solid darken($selection, 5%);
  transition      : all 250ms ease;

  &:hover {
    cursor: pointer;
    background-color: $comment;
    border-bottom-color: darken($comment, 5%);

    .material-icons {
      transform: scale3d(1.2, 1.2, 1.2);
    }
  }
}

%headline-default {
  font-family: Roboto;
  font-weight: 300;
  font-size  : 1.1rem;
  padding    : 15px;
  margin: 0;
}


input[type="text"] {
  width: 50%;
  background    : none;
  border        : none;
  padding-bottom: 8px;
  border-bottom : $foreground 1px solid;
  color         : $foreground;
  margin        : 20px 0;
  transition: width 450ms ease;

  &:focus {
    width: 100%;
  }
}

article {
  display         : flex;
  flex-direction  : column;
  color           : $foreground;
  text-align      : center;
  border          : $border-default;
  background-color: $selection;
  box-shadow      : 0 0 3px 2px rgba(0, 0, 0, .1);


  h2 { 
    // ! If we are changing almost everything about font's props, is h2 really a good place for this? Perhaps a more semantic class or element could be used. This is just overriding the h2 styles which could be otherwise left untouched.
    @extend %headline-default;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $black_80;
    box-shadow : 0 0 3px 2px rgba(0, 0, 0, .1);
    width           : 100%;
    text-align      : center;
    // background-color: $comment;

    .material-icons {
      margin-right: .5rem;
    }
  }

  h3 {
    color: $pink;
  }

  p {
    text-align: justify;
    padding: 0 15px;
    margin-bottom: 2rem;
  }
}

header {
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  color           : $foreground;
  background-color: $selection;
  padding         : 0 25px 100px 25px;
  margin-bottom   : 50px;
  border-bottom   : 2px solid $selection;
  background-image: url('../img/60-lines.png');
  box-shadow      : inset 0 0 3px 2px rgba(0, 0, 0, .1);

  h1 {
    text-align: center;
  }

  img {
    max-width: 33%;
    min-width: 515px;
  }
}

nav {
  width: 100%;
  max-width: 1600px;
  ul {
    display: flex;
    justify-content: space-between;
  }

  .material-icons {
    font-size: 1rem;
    margin-left: 2px;
  }
}

ul {
  padding: 0;

  li {
    list-style: none;
    padding: 8px 12px;
    transition: all 150ms ease;

    &:hover {
      cursor: pointer;
      color: $pink;
    }
  }
}

/* Testing
   -------------------------------------------------------------------------- */
.grid {
  max-width            : 1200px;
  display              : grid;
  margin               : 0 auto;
  padding              : 10px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows   : auto;
  grid-auto-rows       : minmax(220px, auto);
  grid-gap             : 10px;
}

.grid-aside {
  display: grid;
}

.wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 0 10px;
  display: flex;
  align-items: center; 
}

.lg {
  font-size: 3rem;
  margin-top: 1.125rem;
}

.material-icons {
  transition: all 250ms ease;
}

.group {
  display: flex;
  align-items: center;
}

.upvotes {
  color: $green;
}

.downvotes {
  color: $red;
  margin-left: 8px;
}

.upvotes,
.downvotes {
  &:hover {
    animation: bounce-in 500ms ease;
    cursor: pointer;
  }
}

.login-button {
  border: 2px solid $foreground;
  border-radius: 20px;
  transition: all 150ms ease;

  &:hover {
    cursor: pointer;
    background-color: $foreground;
    color: $background;
  }
}

.search {
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: -1;

  .material-icons {
    color: $foreground;
  }
}

#featured_article {
  grid-column: 1 / -1;

  @media screen and (min-width: 908px){
    grid-column-end: -2;
  }

  .lg {
    color: $yellow;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    margin: 1rem 0;

    &:last-of-type {
      margin-bottom: 2rem;
    }
  }

  img {
    border-bottom: 1px solid $black_80;
    margin-bottom: 15px;
  }
}

aside {
  grid-column: 1 / -1;
  grid-row-gap: 10px;

  @media screen and (min-width: 908px) {
    grid-column: span 1 / -1;
  }
}

.aside-content {
  flex-direction: column;
  align-items: normal;

  h2 {
    @extend %headline-default;
    padding-left: 0;

    .material-icons {
      margin-right: .5rem;
    }
  }

  ul {
    margin: 0;
    padding-left: 0;
    // display: flex;
    // flex-direction: column;
    // flex-grow: 1;
    // justify-content: flex-start;

    li {
      padding: 10px 0;
      color: $foreground;
      transition: color 150ms ease;

      &:hover {
        color: $pink;
      }
    }
  }
}

.trending {
  color: $orange;
}

.popular {
  color: $red;
}

.just_added {
  color: $cyan;
}

.posted_date {
  align-self: baseline;
  margin-left: auto;
  color: $selection;
}