/**
  * * Partial: _forms.scss
  * ?    Desc: All styles related to form elements.
  */

/* Form Inputs
   -------------------------------------------------------------------------- */

/**
  * Selector: input[type="text"]
  *     Desc: Base styles for all text inputs.
  *    Notes: Default width is 50% of parent, animating to 100% on focus.
  */

input[type="text"] {
  width         : 50%;
  padding-bottom: remcalc(8px);
  margin        : remcalc(20px) 0;
  border        : none;
  border-bottom : $foreground 1px solid;
  color         : $foreground;
  background    : none;
  transition    : width 450ms ease;

  &:focus { width: 100%; }
}

/**
  * Selector: .search
  *     Desc: Styles specific to the search input.
  *    Notes: Spans all grid columns on mobile, and everything but last column
  *           on larger screens.
  */

.search {
  justify-content  : center;
  grid-column-start: 1;
  grid-column-end  : -1;

  @media screen and   (min-width: 908px) {
    justify-content: flex-start;
    grid-column-end: -2;
  }

  .material-icons { color: $foreground; }
}