/**
  * * Partial: _typography.scss
  * ?    Desc: All font/text related sytles.
  */

/* Headlines
   -------------------------------------------------------------------------- */

/**
  * Selector: %headline-default
  *     Desc: Shared styles used by various content headlines.
  *    Notes:
  */

%headline-default {
  font-family: Roboto;
  font-weight: 300;
  font-size  : remcalc(18px);
  padding    : 15px;
  margin     : 0;
}

/* Icons
   -------------------------------------------------------------------------- */

/**
  * Selector: .material-icons
  *     Desc: Targets ALL material icons on the page.
  *    Notes: Just a default animation for all of our icons, this may not be 
  *           needed, however.
  */

.material-icons { transition: transform 250ms ease-in-out; }

/**
  * Selector: .lg
  *     Desc: 48px font with a top margin
  *    Notes: Mainly used for large material icons.
  */

.lg {
  font-size : remcalc(48px);
  margin-top: remcalc(18px);
}


/**
  * Selector: .upvotes
  *     Desc: Green thumbs up icon.
  *    Notes: Used in article stats_bar.
  */

.upvotes { color: $green; }

/**
  * Selector: .downvotes
  *     Desc: Red thumbs down icon.
  *    Notes: Used in article stats_bar.
  */

.downvotes {
  color      : $red;
  margin-left:  8px;
}

/**
  * Selector: .upvotes:hover .downvotes:hover
  *     Desc: Hover effects for both up/down vote icons.
  *    Notes: Slight bounce animation using css keyframe animation.
  */

.upvotes,
.downvotes {
  &:hover {
    animation: bounce-in 500ms ease;
    cursor   : pointer;
  }
}

/**
  * Selector: .trending .popular .just_added
  *     Desc: Styles for secondary grid headlines & icons.
  */

.trending   { color: $orange; }
.popular    { color: $red; }
.just_added { color: $cyan; }

/* Misc. Text
   -------------------------------------------------------------------------- */

/**
  * Selector: .posted_date
  *     Desc: Displays article post date in secondary grid.
  *    Notes: A 'faded' style that may be updated based on how recent the
  *           number is.
  */

.posted_date {
  align-self : baseline;
  margin-left: auto;
  color      : $selection;
}