/**
  * * Partial: _variables.scss
  * ?    Desc: Collection of SASS variables used in the project.
  */

/* Color Scheme
   -------------------------------------------------------------------------- */
$background: #282a36;
$foreground: #f8f8f2;
$selection : #44475a;
$comment   : #6272a4;

$cyan      : #8be9fd;
$green     : #50fa7b;
$orange    : #ffb86c;
$pink      : #ff79c6;
$purple    : #bd93f9;
$red       : #ff5555;
$yellow    : #f1fa8c;
$black_80  : rgba(0, 0, 0, 0.8);

/* Font Variables
   -------------------------------------------------------------------------- */
$google-font-url: 'https://fonts.googleapis.com/css?family=Nunito|Roboto';

/* Element Deco
   -------------------------------------------------------------------------- */
$border-default: 1px solid $black_80;

/* Layout
   -------------------------------------------------------------------------- */
$max-width: 1200px;